In [18]:
from sqlalchemy import column
from ucimlrepo import fetch_ucirepo
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# fetch dataset
chronic_kidney_disease = fetch_ucirepo(id=336)

# data (as pandas dataframes)
df = chronic_kidney_disease.data.original

# metadata
df.head(20)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,74.0,...,39.0,7800.0,4.4,yes,yes,no,good,yes,no,ckd
6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,100.0,...,36.0,NaN,NaN,no,no,no,good,no,no,ckd
7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,410.0,...,44.0,6900.0,5.0,no,yes,no,good,yes,no,ckd
8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,138.0,...,33.0,9600.0,4.0,yes,yes,no,good,no,yes,ckd
9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,70.0,...,29.0,12100.0,3.7,yes,yes,no,poor,no,yes,ckd
10,50.0,60.0,1.010,2.0,4.0,NaN,abnormal,present,notpresent,490.0,...,28.0,NaN,NaN,yes,yes,no,good,no,yes,ckd
11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,380.0,...,32.0,4500.0,3.8,yes,yes,no,poor,yes,no,ckd
12,68.0,70.0,1.015,3.0,1.0,NaN,normal,present,notpresent,208.0,...,28.0,12200.0,3.4,yes,yes,yes,poor,yes,no,ckd
13,68.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,98.0,...,NaN,NaN,NaN,yes,yes,yes,poor,yes,no,ckd
14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,157.0,...,16.0,11000.0,2.6,yes,yes,yes,poor,yes,no,ckd
15,40.0,80.0,1.015,3.0,0.0,NaN,normal,notpresent,notpresent,76.0,...,24.0,3800.0,2.8,yes,no,no,good,no,yes,ckd
16,47.0,70.0,1.015,2.0,0.0,NaN,normal,notpresent,notpresent,99.0,...,NaN,NaN,NaN,no,no,no,good,no,no,ckd
17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,114.0,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
18,60.0,100.0,1.025,0.0,3.0,NaN,normal,notpresent,notpresent,263.0,...,37.0,11400.0,4.3,yes,yes,yes,good,no,no,ckd
19,62.0,60.0,1.015,1.0,0.0,NaN,abnormal,present,notpresent,100.0,...,30.0,5300.0,3.7,yes,no,yes,good,no,no,ckd

In [19]:
(df.rename
 (columns={
    'bp':'blood pressure',
    'sg':'specific gravity',
    'al':'albumin',
    'su':'sugar',
    'bgr':'blood glucose random',
    'bu':'blood urea',
    'sod': 'sodium',
    'pot': 'potassium',
    'hemo': 'hemoglobin',
    'pcc': 'packed cell volume',
    'wbcc': 'white blood cell count',
    'rbcc':'red blood cell count',
}
, inplace=True))

df

,age,blood pressure,specific gravity,albumin,sugar,rbc,pc,packed cell volume,ba,blood glucose random,...,pcv,white blood cell count,red blood cell count,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47.0,6700.0,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54.0,7800.0,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49.0,6600.0,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51.0,7200.0,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53.0,6800.0,6.1,no,no,no,good,no,no,notckd

In [20]:
df.drop(columns=['htn','dm','cad','appet','pe','ane', 'pcv','sc','rbc', 'ba', 'pc'], inplace=True)
df

,age,blood pressure,specific gravity,albumin,sugar,packed cell volume,blood glucose random,blood urea,sodium,potassium,hemoglobin,white blood cell count,red blood cell count,class
0,48.0,80.0,1.020,1.0,0.0,notpresent,121.0,36.0,NaN,NaN,15.4,7800.0,5.2,ckd
1,7.0,50.0,1.020,4.0,0.0,notpresent,NaN,18.0,NaN,NaN,11.3,6000.0,NaN,ckd
2,62.0,80.0,1.010,2.0,3.0,notpresent,423.0,53.0,NaN,NaN,9.6,7500.0,NaN,ckd
3,48.0,70.0,1.005,4.0,0.0,present,117.0,56.0,111.0,2.5,11.2,6700.0,3.9,ckd
4,51.0,80.0,1.010,2.0,0.0,notpresent,106.0,26.0,NaN,NaN,11.6,7300.0,4.6,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,notpresent,140.0,49.0,150.0,4.9,15.7,6700.0,4.9,notckd
396,42.0,70.0,1.025,0.0,0.0,notpresent,75.0,31.0,141.0,3.5,16.5,7800.0,6.2,notckd
397,12.0,80.0,1.020,0.0,0.0,notpresent,100.0,26.0,137.0,4.4,15.8,6600.0,5.4,notckd
398,17.0,60.0,1.025,0.0,0.0,notpresent,114.0,50.0,135.0,4.9,14.2,7200.0,5.9,notckd
399,58.0,80.0,1.025,0.0,0.0,notpresent,131.0,18.0,141.0,3.5,15.8,6800.0,6.1,notckd

In [21]:
df['hemoglobin']  = df['hemoglobin'] * 10
print(df.hemoglobin)

0      154.0
1      113.0
2       96.0
3      112.0
4      116.0
       ...
395    157.0
396    165.0
397    158.0
398    142.0
399    158.0
Name: hemoglobin, Length: 400, dtype: float64

In [23]:
df['class'] = df['class'].replace({
   'ckd': 'a',
   'notckd' : 'c'
})
df

,age,blood pressure,specific gravity,albumin,sugar,packed cell volume,blood glucose random,blood urea,sodium,potassium,hemoglobin,white blood cell count,red blood cell count,class
0,48.0,80.0,1.020,1.0,0.0,notpresent,121.0,36.0,NaN,NaN,154.0,7800.0,5.2,a
1,7.0,50.0,1.020,4.0,0.0,notpresent,NaN,18.0,NaN,NaN,113.0,6000.0,NaN,a
2,62.0,80.0,1.010,2.0,3.0,notpresent,423.0,53.0,NaN,NaN,96.0,7500.0,NaN,a
3,48.0,70.0,1.005,4.0,0.0,present,117.0,56.0,111.0,2.5,112.0,6700.0,3.9,a
4,51.0,80.0,1.010,2.0,0.0,notpresent,106.0,26.0,NaN,NaN,116.0,7300.0,4.6,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,notpresent,140.0,49.0,150.0,4.9,157.0,6700.0,4.9,c
396,42.0,70.0,1.025,0.0,0.0,notpresent,75.0,31.0,141.0,3.5,165.0,7800.0,6.2,c
397,12.0,80.0,1.020,0.0,0.0,notpresent,100.0,26.0,137.0,4.4,158.0,6600.0,5.4,c
398,17.0,60.0,1.025,0.0,0.0,notpresent,114.0,50.0,135.0,4.9,142.0,7200.0,5.9,c
399,58.0,80.0,1.025,0.0,0.0,notpresent,131.0,18.0,141.0,3.5,158.0,6800.0,6.1,c

In [32]:
df = df[(df.isna().sum(axis=1)< 3)]
df.info()

<class 'pandas.DataFrame'>
Index: 271 entries, 0 to 399
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     268 non-null    float64
 1   blood pressure          268 non-null    float64
 2   specific gravity        270 non-null    float64
 3   albumin                 271 non-null    float64
 4   sugar                   271 non-null    float64
 5   packed cell volume      267 non-null    str
 6   blood glucose random    261 non-null    float64
 7   blood urea              266 non-null    float64
 8   sodium                  250 non-null    float64
 9   potassium               250 non-null    float64
 10  hemoglobin              267 non-null    float64
 11  white blood cell count  250 non-null    float64
 12  red blood cell count    244 non-null    float64
 13  class                   271 non-null    str
dtypes: float64(12), str(2)
memory usage: 31.8 KB

In [37]:
data_a = df.copy(lambda rows: rows if df['class'] == 'a' else None)
data_c = df.copy(lambda rows : rows if df['class'] == 'c' else None)
data_c

,age,blood pressure,specific gravity,albumin,sugar,packed cell volume,blood glucose random,blood urea,sodium,potassium,hemoglobin,white blood cell count,red blood cell count,class
0,48.0,80.0,1.020,1.0,0.0,notpresent,121.0,36.0,NaN,NaN,154.0,7800.0,5.2,a
3,48.0,70.0,1.005,4.0,0.0,present,117.0,56.0,111.0,2.5,112.0,6700.0,3.9,a
4,51.0,80.0,1.010,2.0,0.0,notpresent,106.0,26.0,NaN,NaN,116.0,7300.0,4.6,a
5,60.0,90.0,1.015,3.0,0.0,notpresent,74.0,25.0,142.0,3.2,122.0,7800.0,4.4,a
6,68.0,70.0,1.010,0.0,0.0,notpresent,100.0,54.0,104.0,4.0,124.0,NaN,NaN,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,notpresent,140.0,49.0,150.0,4.9,157.0,6700.0,4.9,c
396,42.0,70.0,1.025,0.0,0.0,notpresent,75.0,31.0,141.0,3.5,165.0,7800.0,6.2,c
397,12.0,80.0,1.020,0.0,0.0,notpresent,100.0,26.0,137.0,4.4,158.0,6600.0,5.4,c
398,17.0,60.0,1.025,0.0,0.0,notpresent,114.0,50.0,135.0,4.9,142.0,7200.0,5.9,c
399,58.0,80.0,1.025,0.0,0.0,notpresent,131.0,18.0,141.0,3.5,158.0,6800.0,6.1,c